<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<meta charset="utf-8">
		<script src="https://cdn.jsdelivr.net/npm/vue"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.20.0/axios.min.js" charset="utf-8"></script>
		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
		<link rel="stylesheet" href="css/style.css">
		<link rel="stylesheet" href="css/phoca-flags.css">
		<title>Boolflix</title>
	</head>
	<body>
		<div id="boolflix">
			<input type="text" name="searchbar" placeholder="Cerca un film qui" v-model="searchedMedia" @keyup.enter="searchMedia">
			<button type="button" @click="searchMedia">Search</button>

			<div id="media" class="flex">
				<div class="card" v-for="element in media" :style="{'background-image': setPoster(element.poster_path)}">
					<div class="details">
						<div class="flex">
							<h3 v-if="element.title">Titolo:</h3> <span class="desc">{{element.title}}</span>
							<h3 v-if="element.name">Titolo:</h3> <span class="desc">{{element.name}}</span>
						</div>
						<div class="flex">
							<h3 v-if="element.original_title">Titolo originale:</h3> <span class="desc">{{element.original_title}}</span>
							<h3 v-if="element.original_name">Titolo originale:</h3> <span class="desc">{{element.original_name}}</span>
						</div>
						<div class="flex">
							<h3>Lingua originale:</h3>
							<div class="flagbox flex">
								<div :class="element.original_language"></div>
							</div>
						</div>
						<div class="flex">
							<h3>Voto:</h3> <i class="fas fa-star star" v-for="i in Math.ceil(element.vote_average / 2)"></i><i class="far fa-star star" v-for="i in (5 - Math.ceil(element.vote_average / 2))"></i>
						</div>
					</div>
				</div>
			</div>
		</div>

		<script src="js/script.js" charset="utf-8"></script>
	</body>
</html>
